Package: nanumpay
Version: {{VERSION}}
Section: utils
Priority: optional
Architecture: {{ARCH}}
Maintainer: Nanum Asset <ops@nanum-asset.example>
Depends: adduser, bash, coreutils, systemd
Recommends: mongosh | mongodb-mongosh, apache2-utils | whois
Description: Nanumpay app by Nanum Asset
 Runs as a native systemd service.
